---
layout: base
---

<div class="hero">
  <h1><strong>{{ hero.title }}</strong></h1>
</div>

<div class="main-content">
  {{ content }}
</div>

  <div class="block">
    <h1>{{job}}</h1>
    <div class="experience-box">
      <div class="card">
        <div class="profile">
          <img src="{{job1.link}}">
          <div>
            <h3>{{job1.heading}}</h3>
            <p>{{job1.para}}</p>
          </div>
        </div>
      </div>
      <div class="experience-box">
        <div class="card">
          <div class="profile">
            <img src="{{job2.link}}">
            <div>
              <h3>{{job2.heading}}</h3>
              <p>{{job2.para}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="experience-box">
        <div class="card">
          <div class="profile">
            <img src="{{job3.link}}">
            <div>
              <h3>{{job3.heading}}</h3>
              <p>{{job3.para}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<br>
<section>
<div class="gal-title">
  <h1><strong>{{gallery}}</strong></h1>
</div>

<div class="gallery-section">
  <div class="gallery-wrap">
    <div class="gallery-images">
      <a href="{{angel.link}}">
        <div class="gallery">
          <div class="image-section">
            <img src="{{angel.link}}" alt="{{angel.alt}}">
          </div>
          <div class="caption">
            <p>{{angel.alt}}</p>
          </div>
        </div>
      </a>
      <a href="{{statue-headphones.link}}">
        <div class="gallery">
          <div class="image-section">
            <img src="{{statue-headphones.link}}" alt="{{statue-headphones.alt}}">
          </div>
          <div class="caption">
            <p>{{statue-headphones.alt}}</p>
          </div>
        </div>
      </a>
      <a href="{{girl-computer.link}}">
        <div class="gallery">
          <div class="image-section">
            <img src="{{girl-computer.link}}" alt="{{girl-computer.alt}}">
          </div>
          <div class="caption">
            <p>{{girl-computer.alt}}</p>
          </div>
        </div>
      </a>
      <a href="{{cyborg-arm.link}}">
        <div class="gallery">
          <div class="image-section">
            <img src="{{cyborg-arm.link}}" alt="{{cyborg-arm.alt}}">
          </div>
          <div class="caption">
            <p>{{cyborg-arm.alt}}</p>
          </div>
        </div>
      </a>
      <a href="{{bauhaus.link}}">
        <div class="gallery">
          <div class="image-section">
            <img src="{{bauhaus.link}}" alt="{{bauhaus.alt}}">
          </div>
          <div class="caption">
            <p>{{bauhaus.alt}}</p>
          </div>
        </div>
      </a>
      <a href="{{poster.link}}">
        <div class="gallery">
          <div class="image-section">
            <img src="{{poster.link}}" alt="{{poster.alt}}">
          </div>
          <div class="caption">
            <p>{{poster.alt}}</p>
          </div>
        </div>
      </a>
      <a href="{{perspective.link}}">
        <div class="gallery">
          <div class="image-section">
            <img src="{{perspective.link}}" alt="{{perspective.alt}}">
          </div>
          <div class="caption">
            <p>{{perspective.alt}}</p>
          </div>
        </div>
      </a>
      <a href="{{Girl.link}}">
        <div class="gallery">
          <div class="image-section">
            <img src="{{Girl.link}}" alt="{{Girl.alt}}">
          </div>
          <div class="caption">
            <p>{{Girl.alt}}</p>
          </div>
        </div>
      </a>
      <a href="{{dog.link}}">
        <div class="gallery">
          <div class="image-section">
            <img src="{{dog.link}}" alt="{{dog.alt}}">
          </div>
          <div class="caption">
            <p>{{dog.alt}}</p>
          </div>
        </div>
      </a>
      <a href="{{antelope.link}}">
        <div class="gallery">
          <div class="image-section">
            <img src="{{antelope.link}}" alt="{{antelope.alt}}">
          </div>
          <div class="caption">
            <p>{{antelope.alt}}</p>
          </div>
        </div>
      </a>
      <a href="{{marilyn.link}}">
        <div class="gallery">
          <div class="image-section">
            <img src="{{marilyn.link}}" alt="{{marilyn.alt}}">
          </div>
          <div class="caption">
            <p>{{marilyn.alt}}</p>
          </div>
        </div>
      </a>
      <a href="{{Polar-bear.link}}">
        <div class="gallery">
          <div class="image-section">
            <img src="{{Polar-bear.link}}" alt="{{Polar-bear.alt}}">
          </div>
          <div class="caption">
            <p>{{Polar-bear.alt}}</p>
          </div>
        </div>
      </a>
      <a href="{{lorem.link}}">
        <div class="gallery">
          <div class="image-section">
            <img src="{{lorem.link}}" alt="{{lorem.alt}}">
          </div>
          <div class="caption">
            <p>{{lorem.alt}}</p>
          </div>
        </div>
      </a>
      <a href="{{words.link}}">
        <div class="gallery">
          <div class="image-section">
            <img src="{{words.link}}" alt="{{words.alt}}">
          </div>
          <div class="caption">
            <p>{{words.alt}}</p>
          </div>
        </div>
      </a>
      <a href="{{red.link}}">
        <div class="gallery">
          <div class="image-section">
            <img src="{{red.link}}" alt="{{red.alt}}">
          </div>
          <div class="caption">
            <p>{{red.alt}}</p>
          </div>
        </div>
      </a>
      <a href="{{marist.link}}">
        <div class="gallery">
          <div class="image-section">
            <img src="{{marist.link}}" alt="{{marist.alt}}">
          </div>
          <div class="caption">
            <p>{{marist.alt}}</p>
          </div>
        </div>
      </a>
      <a href="{{Monochrome-woman.link}}">
        <div class="gallery">
          <div class="image-section">
            <img src="{{Monochrome-woman.link}}" alt="{{Monochrome-woman.alt}}">
          </div>
          <div class="caption">
            <p>{{Monochrome-woman.alt}}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
</section>

<iframe class="figma-prototypes"
  src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2F1lkiJJk8A1yhkdQFdAjC9X%2FMedical-App%3Fnode-id%3D2%253A0%26scaling%3Dscale-down%26page-id%3D0%253A1%26starting-point-node-id%3D2%253A0"
  allowfullscreen></iframe>

<iframe class="figma-prototypes"
  src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FRibKyAO4cdwRGjR0s00XCI%2FCoffee-Ground-Official%3Fnode-id%3D17%253A0%26scaling%3Dscale-down-width%26page-id%3D0%253A1%26starting-point-node-id%3D17%253A0"
  allowfullscreen></iframe>


  <div class="block2">
      <div class="card">
        <div class="profile">
          <div>
            <h3>{{exp.heading}}</h3>
            <ul>
              <li>{{exp.l1}}</li>
              <li>{{exp.l2}}</li>
              <li>{{exp.l3}}</li>
              <li>{{exp.l4}}</li>
              <li>{{exp.l5}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>