---
layout: base
---

<div class="hero">
  <h1><strong>{{ hero.title }}</strong></h1>
</div>

<div class="main-content">
  {{ content }}
</div>


<section>
  <div class="hero">
      <h1 class="{{job}}"></h1>
      <div class="review-box">
          <div id="slide">
              <div class="card">
                  <div class="profile">
                      <img src="job1.link">
                      <div>
                          <h3>"{{job.para}}"</h3>
                      </div>
                  </div>
                  <p>Hi everyone, just letting you all know that training is cancelled next week due to school
                      holidays. Have a great break!</p>
              </div>
              <div class="card">
                  <div class="profile">
                      <img src="assets/images/marist-judo.svg">
                      <div>
                          <h3>UPCOMING TOURNAMENT 15TH MAY</h3>
                          <h4>20/04/2022</h4>
                      </div>
                  </div>
                  <p>Olympia Judo Club is holding a Judo tournament from 9.00am until 1.00pm on Sunday
                      the 15th May. Please talk to Patrick if interested. </p>
              </div>
              <div class="card">
                  <div class="profile">
                      <img src="assets/images/marist-judo.svg">
                      <div>
                          <h3>CONGRATULATIONS!</h3>
                          <h4>29/03/2022</h4>
                      </div>
                  </div>
                  <p>Congratulations to all the participants in last week’s tournament, you all performed extremely
                      well and
                      represented Marist with pride!</p>
              </div>
              <div class="card">
                  <div class="profile">
                      <img src="assets/images/marist-judo.svg">
                      <div>
                          <h3>UPCOMING TOURNAMENT 17TH APRIL </h3>
                          <h4>20/04/2022</h4>
                      </div>
                  </div>
                  <p>On the 17th April, Marist Judo Club is holding a Judo tournament from 9.00am until 1.00pm on
                      Sunday the 17th
                      April. Please talk to Patrick if interested.</p>
              </div>
          </div>
          <div class="sidebar">
              <i id="upArrow" class="fa fa-arrow-up"></i>
              <i id="downArrow" class="fa fa-arrow-down"></i>
          </div>
      </div>
  </div>
</section>

<div class="gal-title">
  <h1><strong>{{gallery}}</strong></h1>
</div>

<div class="gallery-section">
  <div class="gallery-wrap">
    <div class="gallery-images">
      <a href="{{angel.link}}">
        <div class="gallery">
          <div class="image-section">
            <img src="{{angel.link}}">
          </div>
          <div class="caption">
            <p>{{angel.alt}}</p>
          </div>
        </div>
      </a>
      <a href="{{cyborg-arm.link}}">
        <div class="gallery">
          <div class="image-section">
            <img src="{{cyborg-arm.link}}">
          </div>
          <div class="caption">
            <p>{{cyborg-arm.alt}}</p>
          </div>
        </div>
      </a>
      <a href="{{statue-headphones.link}}">
        <div class="gallery">
          <div class="image-section">
            <img src="{{statue-headphones.link}}">
          </div>
          <div class="caption">
            <p>{{statue-headphones.alt}}</p>
          </div>
        </div>
      </a>
      <a href="{{girl-computer.link}}">
        <div class="gallery">
          <div class="image-section">
            <img src="{{girl-computer.link}}">
          </div>
          <div class="caption">
            <p>{{girl-computer.alt}}</p>
          </div>
        </div>
      </a>
      <a href="{{perspective.link}}">
        <div class="gallery">
          <div class="image-section">
            <img src="{{perspective.link}}">
          </div>
          <div class="caption">
            <p>{{perspective.alt}}</p>
          </div>
        </div>
      </a>
      <a href="{{bauhaus.link}}">
        <div class="gallery">
          <div class="image-section">
            <img src="{{bauhaus.link}}">
          </div>
          <div class="caption">
            <p>{{bauhaus.alt}}</p>
          </div>
        </div>
      </a>
      <a href="{{Girl.link}}">
        <div class="gallery">
          <div class="image-section">
            <img src="{{Girl.link}}">
          </div>
          <div class="caption">
            <p>{{Girl.alt}}</p>
          </div>
        </div>
      </a>
      <a href="{{marilyn.link}}">
        <div class="gallery">
          <div class="image-section">
            <img src="{{marilyn.link}}">
          </div>
          <div class="caption">
            <p>{{marilyn.alt}}</p>
          </div>
        </div>
      </a>
      <a href="{{Polar-bear.link}}">
        <div class="gallery">
          <div class="image-section">
            <img src="{{Polar-bear.link}}">
          </div>
          <div class="caption">
            <p>{{Polar-bear.alt}}</p>
          </div>
        </div>
      </a>
      <a href="{{Monochrome-woman.link}}">
        <div class="gallery">
          <div class="image-section">
            <img src="{{Monochrome-woman.link}}">
          </div>
          <div class="caption">
            <p>{{Monochrome-woman.alt}}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>


<iframe class="figma-prototypes"
  src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2F1lkiJJk8A1yhkdQFdAjC9X%2FMedical-App%3Fnode-id%3D2%253A0%26scaling%3Dscale-down%26page-id%3D0%253A1%26starting-point-node-id%3D2%253A0"
  allowfullscreen></iframe>

<iframe class="figma-prototypes"
src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FRibKyAO4cdwRGjR0s00XCI%2FCoffee-Ground-Official%3Fnode-id%3D17%253A0%26scaling%3Dscale-down-width%26page-id%3D0%253A1%26starting-point-node-id%3D17%253A0" allowfullscreen></iframe>


<!--

  Attempt 2
<div class="responsive">
    <div class="gallery">
        <img src="{{angel.link}}" width="600" height="400">
      <div class="desc">{{angel.alt}}</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
        <img src="{{cyborg-arm.link}}" width="600" height="400">
      <div class="desc">{{cyborg-arm.alt}}</div>
    </div>
  </div>
  <div class="responsive">
    <div class="gallery">
        <img class="images" src="{{statue-headphones.link}}" width="600" height="400">
      <div class="desc">{{statue-headphones.alt}}</div>
    </div>
  </div>
  <div class="responsive">
    <div class="gallery">
        <img class="images" src="{{girl-computer.link}}" width="600" height="400">
      <div class="desc">{{girl-computer.alt}}</div>
    </div>
  </div>
  <div class="responsive">
    <div class="gallery">
        <img class="images" src="{{perspective.link}}" width="600" height="400">
      <div class="desc">{{perspective.alt}}</div>
    </div>
  </div>
  <div class="responsive">
    <div class="gallery">
        <img class="images" src="{{bauhaus.link}}" width="600" height="400">
      <div class="desc">{{bauhaus.alt}}</div>
    </div>
  </div>
  <div class="responsive">
    <div class="gallery">
        <img class="images" src="{{Girl.link}}" width="600" height="400">
      <div class="desc">{{Girl.alt}}</div>
    </div>
  </div>
  <div class="responsive">
    <div class="gallery">
        <img class="images" src="{{marilyn.link}}" width="600" height="400">
      <div class="desc">{{marilyn.alt}}</div>
    </div>
  </div>
  <div class="responsive">
    <div class="gallery">
        <img class="images" src="{{Monochrome-woman.link}}" width="600" height="400">
      <div class="desc">{{Monochrome-woman.alt}}</div>
    </div>
  </div>
  <div class="responsive">
    <div class="gallery">
        <img class="images" src="{{Polar-bear.link}}" width="600" height="400">
      <div class="desc">{{Polar-bear.alt}}</div>
    </div>
  </div>
    
  <div class="clearfix"></div>




Attempt 1
    <div class="box">
        <img class="images" src="{{angel.link}}">
    </div>
    <div class="box">
        <img class="images" src="{{cyborg-arm.link}}">
    </div>
    <div class="box">
        <img class="images" src="{{statue-headphones.link}}">
    </div>


    <div class="col">
    <div class="box">
        <img class="images" src="{{girl-computer.link}}">
    </div>
    <div class="box">
        <img class="images" src="{{perspective.link}}">
    </div>
    <div class="box">
        <img class="images" src="{{bauhaus.link}}">
    </div>
    </div>

  -->

<h3 class="quote">{{quote}}</h3>