body {
    font-size: 16px;
    background-color: #f4f4f4;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.4em;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
    padding: 2rem;
    font-family: sans-serif;
}

.inner-wrapper {
    width: 90%;
    margin: 0 auto;
}

header,
footer {
    background-color: #7bc1df;
    padding: 2em 0;
    margin-top: 20px;
}

/*Hero Content*/
.hero {
    text-align: center;
    color: white;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(1, 7, 27, 0.9)), url(../images/Blue-girl.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    /* vertically align */
    display: flex;
    align-items: center;
    justify-content: center;
}

.gal-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
    margin-bottom: 2em;
}

/*Gallery Section*/
.gallery-section {
  width: 100%;
}

.gallery-section .gallery-wrap {
  padding-top: 10px;
}

.gallery-section .gallery-wrap .gallery-images {
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.gallery-section .gallery-wrap .gallery-images .gallery {
  width: 100%;
  position: relative;
}


.gallery-section .gallery-wrap .gallery-images .gallery .image-section {
  width: 100%;
}

.gallery-section .gallery-wrap .gallery-images .gallery .image-section img {
  width: 100%;
  height: auto;
  padding: 5px;
  display: block;
}

.gallery-section .gallery-wrap .gallery-images .gallery .caption {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 5px;
  top: 0;
  left: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s;
}

.gallery-section .gallery-wrap .gallery-images .gallery .caption:hover {
  opacity: 1;
}

.gallery-section .gallery-wrap .gallery-images .gallery .caption p {
  color: #fff;
  font-size: 13px;
}

@media screen and (max-width: 992px) {
  .gallery-section .gallery-wrap .gallery-images {
      grid-template-columns: repeat(2, 1fr);
  }

  .gallery-section .gallery-wrap .gallery-images {
      grid-template-columns: 1fr;
  }
}

.figma-prototypes {
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  display: flex;
  margin-top: 120px;
  width: 800px;
  height: 450px;
  transform: translateX(25%);
}

.col img {
    display: block;
    margin: auto;
    padding: 20px;
    flex-basis: 20%;
}

/*Announcements Scroll*/
.block {
    width: 75%;
    height: 100vh;
    background: #f6fbff;
    margin-bottom: 120px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: -10px 10px 40px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.block h1 {
    font-size: 30px;
    position: relative;
    padding: 20px;
}

.block h1:after {
    content:'';
    width: 150px;
    height: 3px;
    background: linear-gradient(to right, #004c81,#7bc1df);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.card {
    height: 150px;
    padding: 40px;
    color: #777;
    line-height: 22px;
    box-sizing: border-box;
    background: #ffff;
    position: relative;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.profile img {
    width: 50px;
    margin-right: 20px;
}

.profile h3 {
    font-size: 26px;
    color: #7bc1df;
    margin-bottom: 8px;
}

::selection {
    background: #004c81;
    color: #ffff;
}

